{%load static%}
<html>
<head>
    <title>Inicio</title>
    <link type='text/css' href='{% static "css/style.css"%}' rel="stylesheet">
</head>
<body class="banner-principal">
    <table align="center" cellspacing="10" style="width: 90%; font-family: Verdana;" >
        <tr>
            <td colspan="2"></td>
            <td colspan="1"><a href="{% url 'blog:Home' %}"> BLOGS </a></td>
            <td colspan="1"><a href="{% url 'blog:Create' %}"> ESCRIBE </a></td>
            <td colspan="1">SOBRE NOSOTROS</td>
        </tr>
        <tr>
            <td colspan="2" class="letras-banner"> ESCRIBE TU </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="2" class="letras-banner" style="font-weight: bold;"> CRONICA DE CHILOE </td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td><button type="submit" class="boton" align="center"><a href="{% url 'blog:Create' %}" class="a">Crea un blog</a></button>
                <button type="submit" class="boton" align="center"><a href="{% url 'blog:Create' %}" class="a">Contactanos</a></button></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="5"></td>
        </tr>
    </table>
    
</body>
</html>
